@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Comfortaa", cursive;
  background: #07016b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #07016b), color-stop(96%, #af00ff));
  background: linear-gradient(180deg, #07016b 3%, #af00ff 96%);
  color: #eee;
  min-height: 100vh;
}

.container {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4rem;
}

.container p {
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: visible;
}

.container p span.typed-text {
  font-weight: normal;
  color: #ff0081;
}

.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

.container p span.cursor.typing {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-container {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.img-container img {
  max-width: 500px;
  width: 80vw;
  -webkit-filter: drop-shadow(5px 5px 25px #d8cdd3);
  filter: drop-shadow(5px 5px 25px #df90b6);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.bubbly-button {
  font-family: "Comfortaa", cursive;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.7rem 3.5rem;
  margin-top: 1rem;
  margin-bottom: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.5s;
  transition: -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.5s;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.5s;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.5s, -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.5s;
  -webkit-box-shadow: 0 1px 25px rgba(233, 44, 142, 0.7);
          box-shadow: 0 1px 25px rgba(233, 44, 142, 0.7);
}

.bubbly-button:focus {
  outline: 0;
}

.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  background-repeat: no-repeat;
}

.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #e60074;
  -webkit-box-shadow: 0 2px 25px rgba(172, 41, 109, 0.2);
          box-shadow: 0 2px 25px rgba(172, 41, 109, 0.2);
}

.bubbly-button.animate:before {
  display: block;
  -webkit-animation: topBubbles 0.7s ease-in-out;
          animation: topBubbles 0.7s ease-in-out;
}

.bubbly-button.animate:after {
  display: block;
  -webkit-animation: bottomBubbles 0.7s ease-in-out;
          animation: bottomBubbles 0.7s ease-in-out;
}

@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.hide-hearts {
  display: none;
}

.floating .bubble0 {
  margin-left: 0%;
  position: fixed;
  opacity: 0;
  font-size: 1.4em;
  -webkit-animation-name: animateBubble7, sideWays2;
          animation-name: animateBubble7, sideWays2;
  -webkit-animation-duration: 3.4s, 1.6s;
          animation-duration: 3.4s, 1.6s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.8s, 0s;
          animation-delay: 2.8s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble1 {
  margin-left: 2.5%;
  position: fixed;
  opacity: 0;
  font-size: 1.8em;
  -webkit-animation-name: animateBubble2, sideWays8;
          animation-name: animateBubble2, sideWays8;
  -webkit-animation-duration: 3.2s, 1.6s;
          animation-duration: 3.2s, 1.6s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 0.9s, 0s;
          animation-delay: 0.9s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble2 {
  margin-left: 5%;
  position: fixed;
  opacity: 0;
  font-size: 2.2em;
  -webkit-animation-name: animateBubble3, sideWays6;
          animation-name: animateBubble3, sideWays6;
  -webkit-animation-duration: 3.7s, 1.2s;
          animation-duration: 3.7s, 1.2s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.8s, 0s;
          animation-delay: 2.8s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble3 {
  margin-left: 7.5%;
  position: fixed;
  opacity: 0;
  font-size: 1.1em;
  -webkit-animation-name: animateBubble10, sideWays2;
          animation-name: animateBubble10, sideWays2;
  -webkit-animation-duration: 3.1s, 1.4s;
          animation-duration: 3.1s, 1.4s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.7s, 0s;
          animation-delay: 2.7s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble4 {
  margin-left: 10%;
  position: fixed;
  opacity: 0;
  font-size: 1.6em;
  -webkit-animation-name: animateBubble4, sideWays6;
          animation-name: animateBubble4, sideWays6;
  -webkit-animation-duration: 3.7s, 1.5s;
          animation-duration: 3.7s, 1.5s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.9s, 0s;
          animation-delay: 2.9s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble5 {
  margin-left: 12.5%;
  position: fixed;
  opacity: 0;
  font-size: 1.3em;
  -webkit-animation-name: animateBubble2, sideWays3;
          animation-name: animateBubble2, sideWays3;
  -webkit-animation-duration: 3.9s, 1.6s;
          animation-duration: 3.9s, 1.6s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 1.1s, 0s;
          animation-delay: 1.1s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble6 {
  margin-left: 15%;
  position: fixed;
  opacity: 0;
  font-size: 1.1em;
  -webkit-animation-name: animateBubble6, sideWays9;
          animation-name: animateBubble6, sideWays9;
  -webkit-animation-duration: 3.2s, 1.5s;
          animation-duration: 3.2s, 1.5s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.1s, 0s;
          animation-delay: 2.1s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble7 {
  margin-left: 17.5%;
  position: fixed;
  opacity: 0;
  font-size: 1.1em;
  -webkit-animation-name: animateBubble4, sideWays7;
          animation-name: animateBubble4, sideWays7;
  -webkit-animation-duration: 4s, 1.8s;
          animation-duration: 4s, 1.8s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 1.4s, 0s;
          animation-delay: 1.4s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble8 {
  margin-left: 20%;
  position: fixed;
  opacity: 0;
  font-size: 2.3em;
  -webkit-animation-name: animateBubble7, sideWays4;
          animation-name: animateBubble7, sideWays4;
  -webkit-animation-duration: 3.5s, 1.6s;
          animation-duration: 3.5s, 1.6s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 0.2s, 0s;
          animation-delay: 0.2s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble9 {
  margin-left: 22.5%;
  position: fixed;
  opacity: 0;
  font-size: 1.2em;
  -webkit-animation-name: animateBubble4, sideWays2;
          animation-name: animateBubble4, sideWays2;
  -webkit-animation-duration: 3.9s, 1.5s;
          animation-duration: 3.9s, 1.5s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 0.8s, 0s;
          animation-delay: 0.8s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble10 {
  margin-left: 25%;
  position: fixed;
  opacity: 0;
  font-size: 3em;
  -webkit-animation-name: animateBubble1, sideWays8;
          animation-name: animateBubble1, sideWays8;
  -webkit-animation-duration: 3.1s, 1.5s;
          animation-duration: 3.1s, 1.5s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 1.5s, 0s;
          animation-delay: 1.5s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble11 {
  margin-left: 27.5%;
  position: fixed;
  opacity: 0;
  font-size: 1.9em;
  -webkit-animation-name: animateBubble5, sideWays6;
          animation-name: animateBubble5, sideWays6;
  -webkit-animation-duration: 3.8s, 1.3s;
          animation-duration: 3.8s, 1.3s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.4s, 0s;
          animation-delay: 2.4s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble12 {
  margin-left: 30%;
  position: fixed;
  opacity: 0;
  font-size: 3em;
  -webkit-animation-name: animateBubble4, sideWays7;
          animation-name: animateBubble4, sideWays7;
  -webkit-animation-duration: 3.6s, 1.2s;
          animation-duration: 3.6s, 1.2s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 0.1s, 0s;
          animation-delay: 0.1s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble13 {
  margin-left: 32.5%;
  position: fixed;
  opacity: 0;
  font-size: 2.2em;
  -webkit-animation-name: animateBubble7, sideWays3;
          animation-name: animateBubble7, sideWays3;
  -webkit-animation-duration: 3.5s, 1.9s;
          animation-duration: 3.5s, 1.9s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.6s, 0s;
          animation-delay: 2.6s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble14 {
  margin-left: 35%;
  position: fixed;
  opacity: 0;
  font-size: 3em;
  -webkit-animation-name: animateBubble5, sideWays7;
          animation-name: animateBubble5, sideWays7;
  -webkit-animation-duration: 3.3s, 2s;
          animation-duration: 3.3s, 2s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.7s, 0s;
          animation-delay: 2.7s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble15 {
  margin-left: 37.5%;
  position: fixed;
  opacity: 0;
  font-size: 2.3em;
  -webkit-animation-name: animateBubble10, sideWays8;
          animation-name: animateBubble10, sideWays8;
  -webkit-animation-duration: 3.2s, 1.4s;
          animation-duration: 3.2s, 1.4s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 0.8s, 0s;
          animation-delay: 0.8s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble16 {
  margin-left: 40%;
  position: fixed;
  opacity: 0;
  font-size: 1.6em;
  -webkit-animation-name: animateBubble8, sideWays9;
          animation-name: animateBubble8, sideWays9;
  -webkit-animation-duration: 3.5s, 1.4s;
          animation-duration: 3.5s, 1.4s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 0.2s, 0s;
          animation-delay: 0.2s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble17 {
  margin-left: 42.5%;
  position: fixed;
  opacity: 0;
  font-size: 1.5em;
  -webkit-animation-name: animateBubble5, sideWays6;
          animation-name: animateBubble5, sideWays6;
  -webkit-animation-duration: 3.8s, 1.2s;
          animation-duration: 3.8s, 1.2s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.2s, 0s;
          animation-delay: 2.2s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble18 {
  margin-left: 45%;
  position: fixed;
  opacity: 0;
  font-size: 2.7em;
  -webkit-animation-name: animateBubble6, sideWays5;
          animation-name: animateBubble6, sideWays5;
  -webkit-animation-duration: 3.8s, 1.3s;
          animation-duration: 3.8s, 1.3s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 0.3s, 0s;
          animation-delay: 0.3s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble19 {
  margin-left: 47.5%;
  position: fixed;
  opacity: 0;
  font-size: 1.4em;
  -webkit-animation-name: animateBubble2, sideWays5;
          animation-name: animateBubble2, sideWays5;
  -webkit-animation-duration: 3.2s, 1.6s;
          animation-duration: 3.2s, 1.6s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 0s, 0s;
          animation-delay: 0s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble20 {
  margin-left: 50%;
  position: fixed;
  opacity: 0;
  font-size: 1.7em;
  -webkit-animation-name: animateBubble2, sideWays8;
          animation-name: animateBubble2, sideWays8;
  -webkit-animation-duration: 3.4s, 1.9s;
          animation-duration: 3.4s, 1.9s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.8s, 0s;
          animation-delay: 2.8s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble21 {
  margin-left: 52.5%;
  position: fixed;
  opacity: 0;
  font-size: 2.9em;
  -webkit-animation-name: animateBubble10, sideWays7;
          animation-name: animateBubble10, sideWays7;
  -webkit-animation-duration: 3.1s, 1.4s;
          animation-duration: 3.1s, 1.4s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 1.1s, 0s;
          animation-delay: 1.1s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble22 {
  margin-left: 55%;
  position: fixed;
  opacity: 0;
  font-size: 2.7em;
  -webkit-animation-name: animateBubble9, sideWays4;
          animation-name: animateBubble9, sideWays4;
  -webkit-animation-duration: 3.8s, 1.8s;
          animation-duration: 3.8s, 1.8s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 1.3s, 0s;
          animation-delay: 1.3s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble23 {
  margin-left: 57.5%;
  position: fixed;
  opacity: 0;
  font-size: 2.6em;
  -webkit-animation-name: animateBubble9, sideWays1;
          animation-name: animateBubble9, sideWays1;
  -webkit-animation-duration: 3.8s, 1.2s;
          animation-duration: 3.8s, 1.2s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.7s, 0s;
          animation-delay: 2.7s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble24 {
  margin-left: 60%;
  position: fixed;
  opacity: 0;
  font-size: 1.1em;
  -webkit-animation-name: animateBubble3, sideWays5;
          animation-name: animateBubble3, sideWays5;
  -webkit-animation-duration: 3.9s, 1.2s;
          animation-duration: 3.9s, 1.2s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 0.1s, 0s;
          animation-delay: 0.1s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble25 {
  margin-left: 62.5%;
  position: fixed;
  opacity: 0;
  font-size: 2.8em;
  -webkit-animation-name: animateBubble10, sideWays6;
          animation-name: animateBubble10, sideWays6;
  -webkit-animation-duration: 4s, 1.2s;
          animation-duration: 4s, 1.2s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 0.7s, 0s;
          animation-delay: 0.7s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble26 {
  margin-left: 65%;
  position: fixed;
  opacity: 0;
  font-size: 2.2em;
  -webkit-animation-name: animateBubble1, sideWays1;
          animation-name: animateBubble1, sideWays1;
  -webkit-animation-duration: 3.8s, 1.5s;
          animation-duration: 3.8s, 1.5s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 0.5s, 0s;
          animation-delay: 0.5s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble27 {
  margin-left: 67.5%;
  position: fixed;
  opacity: 0;
  font-size: 1.7em;
  -webkit-animation-name: animateBubble1, sideWays10;
          animation-name: animateBubble1, sideWays10;
  -webkit-animation-duration: 3.5s, 1.6s;
          animation-duration: 3.5s, 1.6s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.3s, 0s;
          animation-delay: 2.3s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble28 {
  margin-left: 70%;
  position: fixed;
  opacity: 0;
  font-size: 2.8em;
  -webkit-animation-name: animateBubble8, sideWays4;
          animation-name: animateBubble8, sideWays4;
  -webkit-animation-duration: 3.9s, 1.6s;
          animation-duration: 3.9s, 1.6s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 0.4s, 0s;
          animation-delay: 0.4s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble29 {
  margin-left: 72.5%;
  position: fixed;
  opacity: 0;
  font-size: 2.8em;
  -webkit-animation-name: animateBubble5, sideWays2;
          animation-name: animateBubble5, sideWays2;
  -webkit-animation-duration: 3.8s, 1.1s;
          animation-duration: 3.8s, 1.1s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.4s, 0s;
          animation-delay: 2.4s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble30 {
  margin-left: 75%;
  position: fixed;
  opacity: 0;
  font-size: 2.2em;
  -webkit-animation-name: animateBubble7, sideWays7;
          animation-name: animateBubble7, sideWays7;
  -webkit-animation-duration: 3.8s, 1.4s;
          animation-duration: 3.8s, 1.4s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.6s, 0s;
          animation-delay: 2.6s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble31 {
  margin-left: 77.5%;
  position: fixed;
  opacity: 0;
  font-size: 2.2em;
  -webkit-animation-name: animateBubble2, sideWays10;
          animation-name: animateBubble2, sideWays10;
  -webkit-animation-duration: 3.4s, 1.9s;
          animation-duration: 3.4s, 1.9s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 0.4s, 0s;
          animation-delay: 0.4s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble32 {
  margin-left: 80%;
  position: fixed;
  opacity: 0;
  font-size: 3em;
  -webkit-animation-name: animateBubble9, sideWays8;
          animation-name: animateBubble9, sideWays8;
  -webkit-animation-duration: 4s, 1.3s;
          animation-duration: 4s, 1.3s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.5s, 0s;
          animation-delay: 2.5s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble33 {
  margin-left: 82.5%;
  position: fixed;
  opacity: 0;
  font-size: 2.5em;
  -webkit-animation-name: animateBubble6, sideWays6;
          animation-name: animateBubble6, sideWays6;
  -webkit-animation-duration: 3.1s, 1.2s;
          animation-duration: 3.1s, 1.2s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 1.2s, 0s;
          animation-delay: 1.2s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble34 {
  margin-left: 85%;
  position: fixed;
  opacity: 0;
  font-size: 2.4em;
  -webkit-animation-name: animateBubble7, sideWays5;
          animation-name: animateBubble7, sideWays5;
  -webkit-animation-duration: 3.4s, 1.7s;
          animation-duration: 3.4s, 1.7s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 1.8s, 0s;
          animation-delay: 1.8s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble35 {
  margin-left: 87.5%;
  position: fixed;
  opacity: 0;
  font-size: 2em;
  -webkit-animation-name: animateBubble7, sideWays7;
          animation-name: animateBubble7, sideWays7;
  -webkit-animation-duration: 3.3s, 1.9s;
          animation-duration: 3.3s, 1.9s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.4s, 0s;
          animation-delay: 2.4s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble36 {
  margin-left: 90%;
  position: fixed;
  opacity: 0;
  font-size: 2em;
  -webkit-animation-name: animateBubble5, sideWays10;
          animation-name: animateBubble5, sideWays10;
  -webkit-animation-duration: 3.8s, 1.8s;
          animation-duration: 3.8s, 1.8s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.4s, 0s;
          animation-delay: 2.4s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble37 {
  margin-left: 92.5%;
  position: fixed;
  opacity: 0;
  font-size: 1.8em;
  -webkit-animation-name: animateBubble2, sideWays1;
          animation-name: animateBubble2, sideWays1;
  -webkit-animation-duration: 3.1s, 1.8s;
          animation-duration: 3.1s, 1.8s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 1.6s, 0s;
          animation-delay: 1.6s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble38 {
  margin-left: 95%;
  position: fixed;
  opacity: 0;
  font-size: 1.6em;
  -webkit-animation-name: animateBubble3, sideWays7;
          animation-name: animateBubble3, sideWays7;
  -webkit-animation-duration: 3.7s, 1.1s;
          animation-duration: 3.7s, 1.1s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 1.8s, 0s;
          animation-delay: 1.8s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble39 {
  margin-left: 97.5%;
  position: fixed;
  opacity: 0;
  font-size: 1.3em;
  -webkit-animation-name: animateBubble8, sideWays5;
          animation-name: animateBubble8, sideWays5;
  -webkit-animation-duration: 3.8s, 1.6s;
          animation-duration: 3.8s, 1.6s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 2.7s, 0s;
          animation-delay: 2.7s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

.floating .bubble40 {
  margin-left: 100%;
  position: fixed;
  opacity: 0;
  font-size: 1.8em;
  -webkit-animation-name: animateBubble5, sideWays4;
          animation-name: animateBubble5, sideWays4;
  -webkit-animation-duration: 3.7s, 1.4s;
          animation-duration: 3.7s, 1.4s;
  -webkit-animation-timing-function: ease-in, ease-in-out;
          animation-timing-function: ease-in, ease-in-out;
  -webkit-animation-delay: 1.8s, 0s;
          animation-delay: 1.8s, 0s;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

@-webkit-keyframes sideWays0 {
  0% {
    left: 0;
  }
  100% {
    left: 10%;
  }
}

@keyframes sideWays0 {
  0% {
    left: 0;
  }
  100% {
    left: 10%;
  }
}

@-webkit-keyframes animateBubble0 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 50%;
  }
}

@keyframes animateBubble0 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 50%;
  }
}

@-webkit-keyframes sideWays1 {
  0% {
    left: 0;
  }
  100% {
    left: 12.5%;
  }
}

@keyframes sideWays1 {
  0% {
    left: 0;
  }
  100% {
    left: 12.5%;
  }
}

@-webkit-keyframes animateBubble1 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 55%;
  }
}

@keyframes animateBubble1 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 55%;
  }
}

@-webkit-keyframes sideWays2 {
  0% {
    left: 0;
  }
  100% {
    left: 15%;
  }
}

@keyframes sideWays2 {
  0% {
    left: 0;
  }
  100% {
    left: 15%;
  }
}

@-webkit-keyframes animateBubble2 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 60%;
  }
}

@keyframes animateBubble2 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 60%;
  }
}

@-webkit-keyframes sideWays3 {
  0% {
    left: 0;
  }
  100% {
    left: 17.5%;
  }
}

@keyframes sideWays3 {
  0% {
    left: 0;
  }
  100% {
    left: 17.5%;
  }
}

@-webkit-keyframes animateBubble3 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 65%;
  }
}

@keyframes animateBubble3 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 65%;
  }
}

@-webkit-keyframes sideWays4 {
  0% {
    left: 0;
  }
  100% {
    left: 20%;
  }
}

@keyframes sideWays4 {
  0% {
    left: 0;
  }
  100% {
    left: 20%;
  }
}

@-webkit-keyframes animateBubble4 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 70%;
  }
}

@keyframes animateBubble4 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 70%;
  }
}

@-webkit-keyframes sideWays5 {
  0% {
    left: 0;
  }
  100% {
    left: 22.5%;
  }
}

@keyframes sideWays5 {
  0% {
    left: 0;
  }
  100% {
    left: 22.5%;
  }
}

@-webkit-keyframes animateBubble5 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 75%;
  }
}

@keyframes animateBubble5 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 75%;
  }
}

@-webkit-keyframes sideWays6 {
  0% {
    left: 0;
  }
  100% {
    left: 25%;
  }
}

@keyframes sideWays6 {
  0% {
    left: 0;
  }
  100% {
    left: 25%;
  }
}

@-webkit-keyframes animateBubble6 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 80%;
  }
}

@keyframes animateBubble6 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 80%;
  }
}

@-webkit-keyframes sideWays7 {
  0% {
    left: 0;
  }
  100% {
    left: 27.5%;
  }
}

@keyframes sideWays7 {
  0% {
    left: 0;
  }
  100% {
    left: 27.5%;
  }
}

@-webkit-keyframes animateBubble7 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 85%;
  }
}

@keyframes animateBubble7 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 85%;
  }
}

@-webkit-keyframes sideWays8 {
  0% {
    left: 0;
  }
  100% {
    left: 30%;
  }
}

@keyframes sideWays8 {
  0% {
    left: 0;
  }
  100% {
    left: 30%;
  }
}

@-webkit-keyframes animateBubble8 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 90%;
  }
}

@keyframes animateBubble8 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 90%;
  }
}

@-webkit-keyframes sideWays9 {
  0% {
    left: 0;
  }
  100% {
    left: 32.5%;
  }
}

@keyframes sideWays9 {
  0% {
    left: 0;
  }
  100% {
    left: 32.5%;
  }
}

@-webkit-keyframes animateBubble9 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 95%;
  }
}

@keyframes animateBubble9 {
  0% {
    opacity: 0.5;
    bottom: -20%;
  }
  100% {
    opacity: 0;
    bottom: 95%;
  }
}
/*# sourceMappingURL=styles.css.map */